html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  font-family: 'Bowlby One SC', cursive;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
}
